* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
/* navbar */

.navbar-custom {
  background-color: rgb(2, 2, 2);
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #fbaf19;
}

.active {
  color: #fbaf19 !important;
}

.form input{
  margin-left: 15px;
  width: 90%;
  border: none;
  padding-left: 30px;
  background: url(icons/srch.svg) no-repeat left;
  background-size: 20px;
  color: rgb(172, 172, 172);
  background-color: rgb(17, 17, 17);
}

/* offcanvas / sidebar */
.offcanvas {
  padding: 20px;
  background-color: rgb(2, 2, 2);
}

/* pengatur dropdown yang dikanan */
.dropdown-toggle::after {
  border: none;
}

.dropdown-menu {
  background-color: rgb(2, 2, 2);
}

.btn {
  background: transparent;
  border: none;
}

.btn:hover {
  background-color: rgb(2, 2, 2);
}

/* content */

.content {
  background-color: rgb(11, 11, 11);
}

.games {
  padding: 74px;
}

.card {
  background-color: rgb(2, 2, 2);
}

/* pengatur footer */
.footer {
  position: relative;
  /* left: 0;
    bottom: 0; */
  width: 100%;
  background-color: rgb(2, 2, 2);
  color: white;
  padding-bottom: 26%;
  padding-top: 20px;
}

.footerleft {
  float: left;
}

.footerright {
  float: right;
}

.icons {
  text-decoration: none;
}

.footerbottom {
  position: absolute;
  bottom: 0;
}
