* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.navbar-custom {
  background-color: rgb(2, 2, 2);
}

.nav-link {
  color: white;
}

.offcanvas{
  padding: 20px;
  background-color: rgb(2, 2, 2);
}

.dropdown-toggle::after{
    border: none;
}

.dropdown-menu{
  background-color: rgb(2, 2, 2);
}

.carousel-text {
  background-color: rgb(2, 2, 2);
  color: white;
  float: right;
  width: 30%;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 398px;
  padding-left: 20px;
  padding-right: 20px;
}

.carousel-indicators button {
  position: relative;
  left: 50%;
}

.carousel-img {
  float: left;
  width: 70%;
  height: 70%;
}

.content {
  background-color: rgb(11, 11, 11);
}

.card01 {
  padding: 74px;
}

a.card, a.card:hover {
  color: white;
  text-decoration: none;
}

.card {
  border-color: rgb(40, 40, 40);
  background-color: rgb(2, 2, 2);
}

.card-body{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.card02{
    padding: 74px;
}

.news{
  padding-bottom: 20px;
}

.newswire, .newswire:hover{
  text-decoration: none;
  font-size: 100;
  color: white;
}

.btn {
  /* --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem; */
  background: transparent;
  border: none;
}

.footer {
  position: relative;
  /* left: 0;
  bottom: 0; */
  width: 100%;
  background-color: rgb(2, 2, 2);
  color: white;
  padding-bottom: 26%;
  padding-top: 20px;
}

.footerleft {
  float: left;
}

.footerright {
  float: right;
}

.icons {
  text-decoration: none;
}

.footerbottom {
  position: absolute;
  bottom: 0;
}
