* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
/* navbar */
.navbar-custom {
  background-color: rgb(2, 2, 2);
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-link {
  color: white;
}

.nav-link:hover{
  color: #FBAF19;
}

.active{
  color: #FBAF19!important;
}

.form input{
  margin-left: 15px;
  width: 90%;
  border: none;
  padding-left: 30px;
  background: url(icons/srch.svg) no-repeat left;
  background-size: 20px;
  color: rgb(172, 172, 172);
  background-color: rgb(17, 17, 17);
}

/* sidebar yang dikiri */
.offcanvas{
  padding: 20px;
  background-color: rgb(2, 2, 2);
}

/* yang mengatur dropdown yang dikanan */
.dropdown-toggle::after{
    border: none;
}

.dropdown-toggle:focus{
  background-color: rgb(2, 2, 2);
}

.dropdown-menu{
  background-color: rgb(2, 2, 2);
}
/* ini button yang dikanan (menu sign in) */
.btn{
  background: transparent;
  border: none;
}

.btn:hover{
  background-color: rgb(2, 2, 2);
}

/* ---------------------------------------------------------------------------------------------------------- */

/* carousel */

.carousel{
  background-color: black;
}

.carousel-text {
  background-color: rgb(2, 2, 2);
  color: white;
  float: right;
  width: 30%;
  height: 100%;
  padding-block-start: 5%;
  padding-left: 40px;
  padding-right: 100px;
}

.gamename{
  font-size: 14px;
  font-weight: bold;
}

.crsltitle{
  font-size: 35px;
  font-weight: bold;
}

.clearcrsl{
  padding: 20px;
}

/* ini button yang ada di carousel */
.btncrsl{
  background: transparent;
  border: 1px solid white;
  width: 75%;
  height: 65px;
  font-size: 20px;
  font-weight: bold;
}

.btncrsl:hover{
  background-color: #FBAF19;
}

/* btn indikator yang - - - */
.carousel-indicators button {
  position: relative;
  left: 50%;
}

.carousel-img {
  float: left;
  width: 70%;
  height: 70%;
}

/* konten yang ditengah */
.content {
  background-color: rgb(11, 11, 11);
}

.card01 {
  padding: 74px;
  padding-bottom: 20px;
}

a.card, a.card:hover {
  color: white;
  text-decoration: none;
}

.card {
  border-color: rgb(40, 40, 40);
  background-color: rgb(2, 2, 2);
}

.card-body{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.card02{
    padding: 74px;
    padding-bottom: 20px;
}

.news{
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: bolder;
}

.newswire, .newswire:hover{
  text-decoration: none;
  font-size: 100;
  color: white;
}

.btnviewmore1{
  width: 100%;
  margin: auto;
  /* border: 2px solid red; */
  text-align: center;
  padding-bottom: 8%;
}

.btnviewmore2{
  width: 100%;
  margin: auto;
  /* border: 2px solid red; */
  text-align: center;
  padding-bottom: 5%;
}

.btnviewmore1 a, .btnviewmore2 a{
  border: 1px solid #FBAF19;
}

.btnviewmore1 a:hover, .btnviewmore2 a:hover{
  background-color: #FBAF19;
}

/* pengatur footer */
.footer{
  background-color: rgb(2, 2, 2);
}

.footercontent{
  padding: 60px;
  color: white;
}

.atas a{
  text-decoration: none;
  color: white;
  font-size: 21px;
}

.atas a:hover{
  color: #FBAF19;
}

.tengah a{
  text-decoration: none;
  color: rgb(172, 172, 172);
  font-size: 12px;
}

.tengah a:hover{
  color: #FBAF19;
}

.bawah{
  font-weight: bold;
  font-size: 15px;
}

/* pengaturan jarak konten footer */
.footerclear1{
  padding: 20px;
}

.footerclear2{
  padding: 40px;
}