body{
    overflow: hidden;
}

.navbar-custom{
    background-color: rgb(2, 2, 2);
}

.nav-link{
    color: white;
}

.carousel-text{
    background-color: rgb(2, 2, 2);
    color: white;
    padding-bottom: 100px;
}

.carousel-img{
    float: left;
    width: 50%;
    height: 50%;
}

.carousel-text{
    float: right;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(2, 2, 2);
    color: white;
    text-align: center;
    padding-top: 70px;
 }