
body{
    overflow-x: hidden;
}

.navbar-custom{
    background-color: rgb(2, 2, 2);
}

.nav-link{
    color: white;
}

.carousel-text{
    background-color: rgb(2, 2, 2);
    color: white;
    float: right;
    width: 30%;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 404px;
    padding-left: 20px;
    padding-right: 20px;
}

.carousel-indicators button{
    position: relative;
    left: 50%;
    
}

.carousel-img{
    position: relative;
    float: left;
    width: 70%;
    height: 70%;
}

.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(2, 2, 2);
    color: white;
    text-align: center;
    padding-bottom: 70.5%;
 }

 .blank{
    padding-top: 1000px;
    background-color: rgb(11, 11, 11);
 }
 
